.main {
  min-height: 20em;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  padding: 0 0.5em 0.5em 0.5em;
}
.frame {
  border: 2px solid gray;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-column: span 3 / span 3;
}
.content {
  border: 2px solid gray;
  border-radius: 10px;
  height: 100%;
}
.stop {
  margin: 0 auto;
  display: inline-block;
  width: fit-content;
  color: white;
}
.description {
  border: 2px solid gray;
  border-radius: 10px;
  grid-column: span 4 / span 4;
  background-color: rgb(243, 233, 207);
  padding: 0.5em;
}

@media (max-width: 600px) {
  /*md*/
  .main {
    display: flex;
    flex-direction: column;
  }
  .content {
    min-height: 20em;
  }
  .description {
    overflow-y: auto;
    min-height: 20em;
  }
}
